<!-- Header -->
<header id="header" class="" role="banner">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-dm" role="navigation">
    <div class="container">
      <!-- Centered Nav -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dm-navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <a class="page-scroll" href="#page-top" data-category="menu" data-action="dm-logo">
            <span class="logo-dm">Danny Mayorga</span>
          </a>
      </div>
      <div id="dm-navbar" class="collapse navbar-collapse">
        <!-- Nav Links -->
        <ul id="" class="nav navbar-nav navbar-right navbar-main">
          <li><a class="page-scroll" id="nav-about" href="#about" data-category="menu" data-action="about">About</a></li>
          <li><a class="page-scroll" id="nav-resume" href="#resume" data-category="menu" data-action="resume">Resume</a></li>
          <li><a class="page-scroll" id="nav-contact" href="#contact" data-category="menu" data-action="contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left navbar-social hidden">
          <li><a id="nav-github" href="https://github.com/dannymayorga" target="_blank" data-category="menu" data-action="github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a id="nav-twitter" href="https://twitter.com/dannymayorga81" target="_blank" data-category="menu" data-action="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a id="nav-linkedin" href="https://www.linkedin.com/in/dannymayorga" target="_blank" data-category="menu" data-action="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <!-- End Nav Links -->
      <div class="alert-info" style="background: none;border: none;font-size: .875rem;color: #fff;padding-bottom: 15px;">
        <strong>New look</strong> coming fall 2018.
      </div>
      <!-- End Centered Nav -->
    </div>
  </nav>
</header>
<!-- End Header -->
