<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "WebSite",
	  "url": "https://www.dannymayorga.com/",
	  "name": "Danny Mayorga | Technical Product Manager"
	}
</script>
<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Person",
	  "name": "Danny Mayorga",
	  "jobTitle": "Technical Product Manager",
	  "alternateName": "Daniel Mayorga",
	  "url": "https://www.dannymayorga.com/",
	  "sameAs": ["https://twitter.com/dannymayorga81", "https://www.linkedin.com/in/dannymayorga"]
	}
</script>
